@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link:hover {
    background-color: white;
    color: black;
    height: "full";
    cursor:pointer
  }


  .nav-link {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 17px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    transform-origin: left center;
  }
  
  .nav-link:hover::after {
    width: 70%;
    transform-origin: right center;
  }
 

  .but:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
    transform-origin: left ;
  }




  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-18px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float {
    animation: float 1.5s ease-in-out infinite;
  }


  .animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }
  


  .bg-coverr{
    background-image: url('./assets/black.png');
    background-size: cover;
  }
  
